{% extends "index.html" %}

{% block content %}
    <div class="text-center container " style="margin-top: 50px;">
        <h1 class="text-primary">Gaussian blur demo</h1>
        <div class="input-group mb-3 w-25">
            <input type="file" class="form-control" id="imageFile" accept="image/*">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div>
        <button id="saveImage" class="btn btn-primary mt-3" style="display: none;">Lưu ảnh</button>

        <div id="result" style="display: none; margin-top: 10px;">
            <img id="processedImage" width="700" alt="" src="">
        </div>
        <div id="inputrange" style="display: none; margin-top: 20px;">
            <label for="blur">Độ mờ ảnh:</label>
            <input type="range" id="blur" min="0" max="20" value="0" step="0.1" style="width: 300px">
            <span id="blur-value">0</span>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const imageFileInput = document.getElementById("imageFile");
            const blurRange = document.getElementById("blur");
            const blurValue = document.getElementById("blur-value");
            const processedImage = document.getElementById("processedImage");
            const resultDiv = document.getElementById("result");
            const inputrange = document.getElementById("inputrange");
            const saveImageButton = document.getElementById("saveImage");

            imageFileInput.addEventListener("change", () => {
                const file = imageFileInput.files[0];
                if (file) {
                    const formData = new FormData();
                    formData.append("file", file);
                    const xhr = new XMLHttpRequest();
                    xhr.open("POST", "/remove_background", true);

                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                resultDiv.style.display = "block";
                                inputrange.style.display = "block";
                                processedImage.src = response.image_path;
                                // Hiển thị nút "Lưu ảnh" khi đã có kết quả hiển thị
                                saveImageButton.style.display = "block";
                            } else {
                                alert("Xử lý ảnh thất bại");
                            }
                        } else {
                            alert("Lỗi máy chủ");
                        }
                    };
                    xhr.send(formData);
                }
            });

            blurRange.addEventListener("input", () => {
                blurValue.textContent = blurRange.value;

                const blurValueFloat = parseFloat(blurRange.value);
                if (!isNaN(blurValueFloat)) {
                    processedImage.style.filter = `blur(${blurValueFloat}px)`;
                }
            });

            saveImageButton.addEventListener("click", () => {
                // Kích thước padding phụ thuộc vào mức độ blur bạn muốn
                const padding = parseFloat(blurRange.value) * 2;

                // Tạo một thẻ <canvas> để lưu ảnh đã chỉnh
                const canvas = document.createElement("canvas");
                // Thêm padding vào kích thước canvas để tránh hiệu ứng loang ra
                canvas.width = processedImage.naturalWidth + padding;
                canvas.height = processedImage.naturalHeight + padding;

                const ctx = canvas.getContext("2d");

                // Đặt màu nền cho canvas
                ctx.fillStyle = 'white'; // Thay đổi màu này nếu bạn muốn một màu nền khác
                ctx.fillRect(0, 0, canvas.width, canvas.height);

                // Áp dụng hiệu ứng blur và vẽ ảnh đã chỉnh lên canvas
                ctx.filter = `blur(${blurRange.value}px)`;
                // Chú ý đến vị trí vẽ ảnh trên canvas để có padding đều xung quanh
                ctx.drawImage(processedImage, padding / 2, padding / 2, processedImage.naturalWidth, processedImage.naturalHeight);

                // Tạo một liên kết để tải ảnh đã chỉnh về máy tính của người dùng
                const processedImageDataUrl = canvas.toDataURL("image/png"); // Sử dụng PNG để giữ chất lượng
                const downloadLink = document.createElement("a");
                downloadLink.href = processedImageDataUrl;
                downloadLink.download = "processed_image.png"; // Đổi tên file và định dạng nếu cần
                downloadLink.click();
            });
        });
    </script>
{% endblock %}
