{% extends "index.html" %}

{% block content %}
        <h1 class="text-primary text fs-1 fw-bold text-center mt-5">Nhập môn xử lí ảnh số (Gaussian Blur)</h1>
        <div class="text-center d-flex justify-content-center" style="padding:30px 40px;gap:40px;">
{#            <img src="https://www.coreldraw.com/static/cdgs/product_content/cdgs/seo/gaussian-blur-lg.jpg" alt="">#}
            <div id="carouselExampleDark" class="carousel carousel-dark slide" style="width:50%; height:100%;">
              <div class="carousel-indicators" >
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000" style="width:100%; height:300px;">
                  <img src="https://www.coreldraw.com/static/cdgs/product_content/cdgs/seo/gaussian-blur-lg.jpg" class="d-block " alt="...">

                </div>
                <div class="carousel-item" data-bs-interval="2000" style="width:100%; height:300px;">
                  <img style="width:100%;height:100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSPAGVclKQMqFe3wIlFG2a85WePVvkuUiwtVumzCLlTXnaFRwCYQkyNqHgQ5RX8NxzM9k&usqp=CAU" class="d-block" alt="...">

                </div>
                <div class="carousel-item" style="width:100%;height:300px;">
                  <img style="width: 100%;height: 100%" src="https://help.apple.com/assets/646D3DF2CD2DB065D10868F9/646D3DF2CD2DB065D1086900/en_US/a67af9dfbb0903248432d98f8e5033f1.png" class="d-block " alt="...">

                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="accordion " id="accordionExample" style="width:40%;">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Mô tả Gaussian Blur
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <strong>Gaussian Blur</strong>  mô tả việc làm mờ hình ảnh bằng hàm Gaussian. Đây là một hiệu ứng được sử dụng rộng rãi trong phần mềm đồ họa, thường là để giảm nhiễu hình ảnh và giảm chi tiết. Hiệu ứng hình ảnh của kỹ thuật làm mờ này là hiệu ứng mờ mượt mà giống như xem hình ảnh qua màn hình mờ, khác biệt rõ rệt với hiệu ứng mờ ảo do ống kính mất nét hoặc bóng của vật thể tạo ra dưới ánh sáng thông thường. Làm mịn Gaussian cũng được sử dụng như một giai đoạn tiền xử lý trong các thuật toán thị giác máy tính nhằm nâng cao cấu trúc hình ảnh ở các tỷ lệ khác nhau—xem biểu diễn không gian tỷ lệ và triển khai không gian tỷ lệ.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    OpenCV Gaussian Blur
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Làm mịn hình ảnh là một kỹ thuật giúp giảm nhiễu trong hình ảnh. Hình ảnh có thể có nhiều loại nhiễu khác nhau do cảm biến máy ảnh. Về cơ bản, nó loại bỏ nội dung tần số cao (nhiễu, cạnh) khỏi hình ảnh nên các cạnh hơi bị mờ trong thao tác này. OpenCV cung cấp hàm gaussianblur () để áp dụng làm mịn hình ảnh. Cú pháp như sau: <code>cv2.GaussianBlur(src, ksize, sigmaX[,dst[,sigmaY[,borderType = BORDER_DEFAULT]]])</code></p>
                      <strong>Thông số:</strong>
                      <ul style="text-align:left;">
                          <li>src -Nó được sử dụng để nhập một Hình ảnh./li>
                          <li>dst -Nó là một biến lưu trữ Hình ảnh đầu ra.</li>
                          <li>ksize -Nó định nghĩa Kích thước Kernel Gaussian [chiều rộng chiều cao]. Chiều cao và chiều rộng phải là số lẻ (1,3,5,…) và có thể có các giá trị khác nhau. Nếu ksize được đặt thành [0,0], thì ksize được tính từ giá trị sigma.</li>
                          <li>sigmaX – Dẫn xuất tiêu chuẩn hạt nhân dọc theo trục X. (hướng nằm ngang).</li>
                          <li>sigmaY – Dẫn xuất tiêu chuẩn hạt nhân dọc theo trục Y (hướng dọc). Nếu sigmaY = 0 thì giá trị sigmaX được lấy cho sigmaY.</li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Ví dụ
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <pre style="text-align: left"><code>image = cv2.imread('C://Geeksforgeeks//image_processing//fruits.jpg')<br>cv2.imshow('Original Image', image)<br></br>cv2.waitKey(0)<br># Gaussian Blur<br></br>Gaussian = cv2.GaussianBlur(image, (7, 7), 0)<br></br>cv2.imshow('Gaussian Blurring', Gaussian) </code>
                      </pre>
                      <a class="btn btn-success" href="/feature">Demo</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock %}